@import url('https://fonts.googleapis.com/css?family=Slackey');
@import "~react-id-swiper/src/styles/css/swiper.css";

body {
    font-family: 'Slackey', cursive;
    padding:0;
    margin:0;

}
.rotateDevice{
    position: fixed;
    z-index: 99;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: #1a74a1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.rotateDevice div{
    color:#fff;
}
.showContainer {

    /*background: #fc655a;*/
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.canvasContainer {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.canvasContainer canvas {
    width: 100%;
}

.headerContainer {
    position: absolute;
    top: -2px;
    left: 0;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 10px 14px 9px rgba(0, 0, 0, 0.23);
    z-index: 10;

}

.headerContainer .headerAspectRatio svg {
    display: block;
}

.headerContainer .headerAspectRatio {

    opacity: 1;

}

.headerContainer .headerAspectRatio img {
    width: 100%;
}

.headerContainer .headerContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.headerContainer .headerContent .in-frame {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;

}

.headerContainer .logoContainer {

    width: 50%;
    height:100%;

}

.headerContainer .logoContainer img {
    max-height: 100%;
    display: block;

}

.footerContainer {
    position: absolute;
    bottom: -5px;
    left: 0;
    /*height: 100px;*/
    width: 100%;
    z-index: 10;
    padding:0;


}

.footerContainer .footerAspectRatio {

    opacity: 1;
}

.footerContainer .footerAspectRatio img {
    width: 100%;
    display: block;
}

.footerContainer .footerContent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding:0;

    justify-content: space-between;

}

.footerContainer .footerContent .in-frame {
    width: 100%;
    max-width: 1200px;
    display: flex;

    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin: 0 auto;

}

.lang-bar {
    display: flex;
    justify-content: flex-end;
}

.lang-bar ul {
    margin: 0;
    padding: 0;
    display: flex;

    justify-items: flex-end;
}

.lang-bar ul li {
    list-style-type: none;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang-bar ul li a {
    color: #000;
    text-decoration: none;

    font-size: 18px;
    /*text-transform: uppercase;*/
}
.sliderContainer{
    transition: all 0.5s ease;

}
.menuContainer {
    width: 50%;
    height: 100%;

}

.menuContainer ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 0px 0 0;
    padding: 0;
    height: 100%;

}

.menuContainer li {
    list-style-type: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: azure;
    width: 63px;

    /*height: 100px;*/
    text-align: center;
    padding-bottom: 10px;
    transition: all 0.5s ease;

}

.menuContainer li img {
    max-width: 40%;

    margin-top: 10px;

}
.menuContainer li.active{
    padding-bottom: 12px;
}

.menuContainer li.active {


        pointer-events: none;

}

.menuContainer li span {
    /*background: #ccc;*/
    display: block;
    height: 20px;
    padding: 0 5px;
}

.menuContainer li a {
    color: #000;
    font-size: 10px;
    text-decoration: none;

}

.menuContainer li:hover {
    padding-bottom: 20px;
}

.menuContainer li:nth-child(1) a {
    color: #1a74a1;
}

.menuContainer li:nth-child(2) a {
    color: #12B861;
}

.menuContainer li:nth-child(3) a {
    color: #FF9A35;
}

.menuContainer li:nth-child(4) a {
    color: #F52F6A;
}

.menuContainer li:nth-child(5) a {
    color: #1A8BBC;
}

.ChaptersModalContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChaptersModalContainer .sliderContainer {
    /*background: #fff;*/
    padding: 10px 10px;
}

.swiper-container {
    width: 300px;
    max-width: 90%;
    height: 240px;
}

.slide-item img {
    max-width: 100%;
}

.slide-item span,
.slide-item p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #2F0842;
    line-height: 16px;
    margin: 2px 0;
}
.slide-item p b {
    font-weight: 900;
}

.swiper-slide {
    height: auto !important;
    /*background-color: #1a74a1;*/
}

.swiper-slide.slide-item {
    margin-top: 0px !important;
    text-align: center;
}

.swiper-container-multirow .swiper-slide.slide-item {
    text-align: left;
}

.swiper-pagination-bullet{
    width:15px!important;
    height:15px!important;
    margin-right: 10px;
}

.swiper-pagination-bullets{
    bottom:-3px!important;
}

.transition{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;

    z-index: 6;
display: flex;
    justify-content: center;
    align-items: center;
}


.transition canvas{
    /*min-width: 100%;*/
    width: 100%;



}


@media only screen and (min-width: 60em) {
    .ChaptersModalContainer .sliderContainer {
        /*background: #fff;*/
        padding: 25px 50px;
    }
    .swiper-container {
        width: 600px;
        max-width: 90%;
        height: 450px;
    }

    .menuContainer {
        width: 50%;
        height: 100%;
    }

    .menuContainer ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-end;
        margin: 0 0px 0 0;
        padding: 0;
        height: 100%;
    }

    .menuContainer li {
        list-style-type: none;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background-color: azure;
        width: 90px;
        /*height: 100px;*/
        text-align: center;
        padding-bottom: 10px;
        transition: all 0.5s ease;

    }
    .menuContainer li.active{
        padding-bottom: 20px;
    }


    .menuContainer li img {
        max-width: 70%;

        margin-top: 10px;

    }

    .menuContainer li span {
        font-size: 14px;
        display: block;
        height: 30px;
        padding: 0 5px;
    }

    .menuContainer li a {
        color: #000;
        font-size: 14px;
        text-decoration: none;

    }

    .menuContainer li:hover {
        padding-bottom: 20px;
    }

}

@media only screen and (min-width: 64em) {
    .menuContainer li {
        width: 90px;
        padding-bottom: 0px;
    }

    .menuContainer li:hover{
        padding-bottom: 5px;
    }
    .menuContainer li.active{
        padding-bottom: 5px;
    }

    .menuContainer li span {
        font-size: 12px;
        line-height: 1em;


    }
}

@media only screen and (min-width: 80em) {

    .menuContainer li {
        width: 100px;
        padding-bottom: 10px;
    }
    .menuContainer li:hover{
        padding-bottom: 10px;
    }

    .menuContainer li img {
        max-width: 80%;

    }
    .menuContainer li.active{
        padding-bottom: 20px;
    }
}


/*@media only screen and (min-width: 90em) {*/
    /*.ChaptersModalContainer .sliderContainer {*/
        /*!*background: #fff;*!*/
        /*padding: 20px 50px;*/
    /*}*/
    /*.swiper-container {*/
        /*width: 600px;*/
        /*max-width: 90%;*/
        /*height: 450px;*/

    /*}*/
/*}*/

